@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-text: 255,255,255;
    --color-primary-background: 30,41,59;
    --color-secondary-text: 255,255,255;
    --color-secondary-background: 107,114,128;
    --color-tertiary-text: 0,0,0;
    --color-tertiary-background: 255,255,255;
  }
}

.theme-easter {
  --color-primary-text: 255,255,255;
  --color-primary-background: 255,0,128;
  --color-secondary-text: 255,0,128;
  --color-secondary-background: 255,215,0;
  --color-tertiary-text: 0,0,0;
  --color-tertiary-background: 0,255,0;
}

.theme-halloween {
  --color-primary-text: 255,255,255;
  --color-primary-background: 27,14,1;
  --color-secondary-text: 0,0,0;
  --color-secondary-background: 217,119,6;
  --color-tertiary-text: 0,0,0;
  --color-tertiary-background: 243,255,7;
}

.theme-skimore {
  --color-primary-text: 31,42,68;
  --color-primary-background: 183,220,225;
  --color-secondary-text: 255,255,255;
  --color-secondary-background: 31,42,68;
  --color-tertiary-text: 255,255,255;
  --color-tertiary-background: 106,191,75;
}

body {
  @apply text-primary-text bg-primary-background;
}

h1 {
  @apply font-bold text-lg;
}
h2 {
  @apply font-bold text-base;
}
h3 {
  @apply font-normal text-base;
}
p {
  @apply font-light text-sm text-left;
}
section {
  @apply mb-4;
}
